
.globalContent{
  background:
  linear-gradient(180deg, rgba(28, 29, 46, 0.01) 0%, rgba(28, 29, 46, 0.65) 29%, #1C1D2E 81%),
  url("src/assets/slide/SLIDE 1.png") center no-repeat;
  background-size: cover;
  max-width: 100%;
  min-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.next{
  width: 100%;
  height: 100vh;
  background-color: #1C1D2E;
}
.title{
  width: 100%;
    text-align: center;
    color: white;
    font-size: 19px;
    font-family: Manrope;
    font-weight: 500;
    word-wrap: break-word;
    margin-top: 10px;
}
.titleContent{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: inline-flex
}

.titleText{
  left: 25.87px;
  top: 14.43px;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: Manrope;
  font-weight: 800;
  letter-spacing: 0.54px;
  word-wrap: break-word
}
.header{
  width: 80%;
  height: 114px;
  margin: 0px auto;
  gap: 27px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo
{
  width: 114px;
  height: 26.6px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex: 1;
}

.navbar{
  flex: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar .navbar-content {
  width: 383px;
  height: 62px;
  background-color: #186841;
  border: #186841 solid 1px;;
  border-radius: 50px;
  justify-content: space-around;
  align-items: center;
}


.search{
  width: 35px;
  height: 35px;
  background-color: #186841;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #186841 solid 1px;;
  border-radius: 20px;
}

.notification{
  width: 35px;
  height: 35px;
  background-color: #186841;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #186841 solid 1px;;
  border-radius: 20px;
}

.name{
  width: 100%;
  height: 34vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 65px;
}

.films{
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
}

.filmTitle{
  color: white;
  font-size: 20px;
  font-family: Manrope;
  font-weight: 800;
  word-wrap: break-word;

}

.firstRow {
  height: 48%;
  width: 100%;
  display: flex;

}

.filmcontent{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.avatar-gara{
  height: 55px;
  width: 114px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  border: #186841 solid 1px;;
  border-radius: 50px;
  padding: 0px 10px;
}
.avatar-gara > img{
  width: 35px;
  height: 35px;
}
.avatar-gara * {
  margin: 0px !important;
}

.end-content-header{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
}
.end-content-header * {
  margin: 0px 10px;
}

@media only screen and (max-width: 600px){
  .logo {
   display: none;
  }

  .navbar{
    display: none;
  }
  .end-content-header {
    flex-direction: row-reverse;
  }
  .header {
    width: 60%;
    margin: 0;
  }
}
